.vscode
**/*.todo.txt
node_modules
__pycache__
**/*.env
thoughts.md

**/scraper

swagger_endpoints.yaml
swagger_queryparams.yaml

**/**/example
**/todo.txt
**/package-lock.json
**/combiner.py


swagger.yaml 
.prettierrc
.app.ts
utils/prisma.ts
lambda.ts

**/*.lock

prisma
